<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Load c3.css -->
    <link href="{% static 'css/c3.css' %}" rel="stylesheet">
    <!-- Load d3.js and c3.js -->
    <script src="{% static 'js/d3-5.8.2.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/c3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/cesium_box.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/switch_box.css' %}" rel="stylesheet">
    <script src="{% static 'Build/Cesium/Cesium.js' %}"></script>
    <link href="{% static 'Build/Cesium/Widgets/widgets.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />

    <script type="text/javascript">
        $(document).ready(function(){
          $(".btn1").click(function(){
          $("chart").toggle(); //toggle()方法进行显示隐藏交互事件，如果显示的就进行隐藏，如果是隐藏的就显示
          });
          
        });
        </script>
</head>
<body>
    <div class="container-fluid">
        <div class="head">&nbsp;&nbsp;
            <h4>社会シミュレーション</h4>
        </div>
        <div class="main" class="col-md-12 col-sm-12 col-xs-12"">
            <div class="left">
                <!-- <div id="topToolbar">
                    <span style="padding-left:15px, padding-right :50px;">運用設定</span>
                    <input type="button" id="topOnOff" value="隠す">
                    <a href="#" id="topOnOff" style="padding-left: 740px;">隠す</a>
                </div> -->
                <div id="topToolbar" class="col-md-12 col-sm-12 col-xs-12">
                    <span style="font-size: 20px; font-weight:bold;">
                        運用設定
                    </span>
                    <span>
                        <a href="#" id="topOnOff" style="float: right">隠す</a>
                    </span>
                </div>
                <div id="topToolbarMenu">
                    <form class="form-inline col-md-12 col-sm-12 col-xs-12" role="form" style="margin-bottom: 50px;">
                        <div class="form-group" style="width:15%">
                            <div >
                                <h5>大きな環境変動</h5>
                                <div class="switch-box">
                                    <input id="switchButton1" type="checkbox" class="switch" />
                                    <label for="switchButton1"></label>
                                </div>
                            </div>
                            <div style="margin-top: 50px;">
                                <h5>天気</h5>
                                <div class="switch-box2">
                                    <input id="switchButton2" type="checkbox" class="switch" />
                                    <label for="switchButton2"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 50px; width:70%">
                            <div class="row">
                                <div class="form-group col-md-3 col-sm-3 col-xs-3" style="vertical-align: top;">
                                    <p style="font-size: 14px; font-weight:bold;">データセット</p>
                                    <input type="radio" id="radio1" checked="checked" class="radio">
                                    <label for="radio1" class="control-label" style="margin-left: 5px;">ブラコンB問題<br>(オフライン)</label>
                                </div>
                                <div class="form-group col-md-3 col-sm-3 col-xs-3" style="vertical-align: top;">
                                    <p style="font-size: 14px; font-weight:bold;">評価条件</p>
                                    <div id='hkdiv'>
                                        <input type="checkbox" name="" id="check11" class="hkcheck">&nbsp;運搬特化<br>
                                        <input type="checkbox" name="" id="check12" class="hkcheck">&nbsp;バランス<br>
                                        <input type="checkbox" name="" id="check13" class="hkcheck">&nbsp;電力特化
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-6" style="vertical-align: top; margin-left: -30px;">
                                    <p style="font-size: 14px; font-weight:bold;">評価結果</p>
                                    <div id="chartLeft1" style="margin-left: -20px;"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3 col-sm-3 col-xs-3" style="vertical-align: top;">
                                    <input type="radio" name="" id="radio2" class="radio">
                                    <label for="radio2" class="control-label" style="margin-left: 5px;">ブロコンB問題<br>(オフライン)</label>
                                </div>
                                <div class="form-group col-md-7 col-sm-7 col-xs-7" style="vertical-align: top;">
                                    <label for="select1">アルゴリズム1</label>
                                    <select class="form-control"  disabled="disabled" name="" id="select1" style="width:350px; margin-left: -8px;">
                                        <option style="text-align:center" value="">アルゴリズム1</option>
                                        <option style="text-align:center" value="">アルゴリズム2</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2 col-sm-2 col-xs-2" style="margin-top: 24px;">
                                    <input type="button" class="btn btn-primary"  disabled="disabled" value="実行" id="button1" style="width: 160px;color: black; background-color: #87CEFA">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="form-group col-md-3 col-sm-3 col-xs-3" >
                                    <input type="radio" name="" id="radio3" class="radio">
                                    <label for="radio3" class="control-label" style="margin-left: 5px;">従来手法</label>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                </div>
                <div class="GIS" id="cesiumContainer"></div>
                <div id="credit"></div>
            </div>
            <div class="dashboard">
                <div class="col-md-12 col-sm-12 col-xs-12" style="display：inline-block; margin-top: 15px; margin-bottom: 20px;">
                    <span style="font-size: 20px; font-weight:bold;">
                        グラフ表示
                    </span>
                    <span>
                        <a href="#" id="graphOnOff" style="float: right">隠す</a>
                    </span>
                </div>
                <div id="graphGrid" class="" style="margin-top: -5px;" >
                    <div>
                        <!-- <span style="font-size: 16px; font-weight:bold;padding-top: 10px;">個別のナノグリッド</span>
                        <ul style="float: right; list-style: none;">
                            <li><a class="collapse-link"><i class="fa fa-caret-up"></i></a></li>
                        </ul> -->
                        <input type="checkbox" id="label1" class="cssacc" />
                        <label for="label1">個別のナノグリッド</label>
                    </div>
                    <div class="accshow col-md-12 col-sm-12 col-xs-12" >
                        <div class="form-label-left col-md-12 col-sm-12 col-xs-12" >
                            <div><h4>電力</h4></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div id="chart11" style="margin-left: -8px"></div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div id="chart12"></div>
                                </div>
                            </div>

                            <div><h4>気象データ</h4></div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div id="chart21" style="margin-left: 20px">
                                        <table class="table-bordered" width="200px">
                                            <thead>
                                                <tr class="tr-head">
                                                    <th scope="col" class="col-md-2 col-sm-2 col-xs-4">項目</th>
                                                    <th scope="col" class="col-md-2 col-sm-2 col-xs-4">表示</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>日射量</td>
                                                    <td><input type="checkbox" checked="true" /></td>
                                                </tr>
                                                <tr>
                                                    <td>風速</td>
                                                    <td><input type="checkbox" checked="true" /></td>
                                                </tr>
                                                <tr>
                                                    <td>降雨量</td>
                                                    <td><input type="checkbox" /></td>
                                                </tr>
                                                <tr>
                                                    <td>気温</td>
                                                    <td><input type="checkbox" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div id="chart22"></div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div id="chart23"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div><h4>その他</h4></div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div id="chart31" ></div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div id="chart32"></div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div id="chart33"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="checkbox" id="label2" class="cssacc" />
                        <label for="label2">全ナノグリッド</label>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</body>
<script src="{% static 'js/chart.js' %}"></script>
</html>
    
</body>
</html>