/** {
    margin: 0;
    padding: 0;
}*/

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: black; */
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.head {
    display: flex;
    min-height: 15px;
    background-color: #87CEEB;
    padding-top:5px;
    padding-bottom:5px;
    font-weight:900;
    font-size: 110%;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: row;
    min-height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: cyan; */
}

.left {
    display: flex;
    flex: 1;
    min-width: 880px;
    flex-direction: column;
    /* background-color: darkseagreen; */
}

#topToolbar {
    display: inline-block;;
    /*flex-direction: row;
    min-height: 20px;*/
    margin-top: 15px; 
    margin-bottom: 20px;
    /* background-color: crimson; */
}

#topToolbarMenu {
    display: flex;
    /* min-height: 300px; */
    /* background-color: crimson; */
}

#graphToolbar {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    /* background-color: crimson; */
}

#graphToolbarMenu {
    display: flex;
    /* min-height: 300px; */
    /* background-color: crimson; */
}

#cesiumContainer {
    display: flex;
    flex: 1;
    width: 880px;
    height: 400px;
    background-color: darkgreen;
}

#credit {
    visibility: hidden;
}

.right {
    display: flex;
    flex: 1;
    max-width: 50px;
    /* background-color: deeppink; */
}


#c2r {
    display: flex;
    flex-direction: row;
    
}

.clm1 {
    min-width: 150px;
    padding-left:15px ;
}

.clm2 {
    min-width: 250px;
    padding-left:5px ;
}

.clm3 {
    min-width: 250px;
}
.clm3-2 {
    min-width: 350px;
}

.clm3 select {
    /* display: inline-block; */
    width: 300px;
    min-width: 280px;
    min-height: 25px;
}

.clm4 input {
    min-width: 120px;
    min-height: 25px;
    background-color: #61bee9d3;
}
body {font-family: Arial;}

/* Style the tab */
.dashboard {
   /* display: flex;
    flex: 1;*/
    width: 100%;
   /* overflow: hidden;*/
    border: 1px solid #ccc;
    /* background-color: darkorange; */
}


/*アイコンを表示*/
.dashboard label::after {
    content: '◀';
    font-family: 'Font Awesome 5 Free';
    padding-right: 8px;
    font-weight: 900;
}



/*中身を非表示にしておく*/
.accshow {
    padding: 0;
    /*overflow: hidden;*/
    /*opacity: 0;*/
    display: none;
    /*visibility: hidden;*/
}

/*クリックで中身表示*/
.cssacc:checked + label + .accshow {
    height: auto;
    padding: 5px;
    /*background: #fdfbf9;*/
    background:blue;
   /* overflow: visible;*/
    /*opacity: 1;*/
    /*visibility: visible;*/
     display: block;
}

/*.dashboard .accshow chart {
    margin: 15px 10px
}*/

/*アイコンを入れ替える*/
.cssacc:checked + label::after {
    content: '▼';
}


/*ラベル*/
.dashboard label {
    display: flex;
    margin: 1.5px;
    padding : 9px 7px;
    color: #858380;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    background:  #ccc;
    cursor :pointer;
    transition: all 0.5s;
}

/*ラベルホバー時*/
.dashboard label:hover {
    background :#ccc;
}

/*チェックは隠す*/
.dashboard .cssacc {
    display: none;
}

table {
    table-layout: fixed;
}

tr {
    padding: 0;
    height: 1px;
}

table thead tr th {
    padding: 2px 0 2px 20px;
    font-size: 12px;
    height: 10px;
}

table tbody tr td {
    padding: 2px 0 2px 20px;
    font-size: 10px;
}

#graphGrid .form-group {
    height: 100px;
}


/* Create an active/current tablink class */
.dashboard button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}